basePath: /api/v1
definitions:
  responses.Ack:
    properties:
      ack:
        description: Ack Defines if the server could acknowledge the request.
        type: boolean
    type: object
  responses.BadRequest:
    properties:
      ack:
        $ref: '#/definitions/responses.Ack'
        description: Ack Defines if the request was successful or not.
        type: object
      error:
        $ref: '#/definitions/responses.Error'
        description: Error Explains why the server is responding with a bad request.
        type: object
    type: object
  responses.Created:
    properties:
      ack:
        $ref: '#/definitions/responses.Ack'
        description: Ack Defines if the request was successful or not.
        type: object
      id:
        description: ID The id of the newly created entity.
        type: string
    type: object
  responses.Error:
    properties:
      code:
        description: Coode The http status code that belongs to this error.
        type: integer
      message:
        description: Message The message explaining the error.
        type: string
    type: object
  responses.NotFound:
    properties:
      ack:
        $ref: '#/definitions/responses.Ack'
        description: Ack Defines if the request was successful or not.
        type: object
      error:
        $ref: '#/definitions/responses.Error'
        description: Error Explains why the server is responding with a bad request.
        type: object
    type: object
  user.User:
    properties:
      id:
        description: the userId
        type: string
      password:
        type: string
      username:
        description: the username
        type: string
    type: object
  user.jwtToken:
    properties:
      ack:
        $ref: '#/definitions/responses.Ack'
        type: object
      token:
        type: string
    type: object
  user.userRequest:
    properties:
      password:
        description: Password The user's password, must be length(5|255)
        type: string
      username:
        description: Username The user's username, must be unique and length(5|255)
        type: string
    type: object
host: project-b.ogkevin.nl
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: Well you know, nothing important. Just making sure people can capture
    memories
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Project b
  version: "1.0"
paths:
  /user:
    post:
      consumes:
      - application/json
      description: Register a new user
      operationId: register-new-user
      parameters:
      - description: The expected request body. Username must be length(5|255) and
          Password length(10|255).
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/user.userRequest'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: The response will include the id of the newly created user.
          schema:
            $ref: '#/definitions/responses.Created'
            type: object
        "400":
          description: The error object will explain why the request failed.
          schema:
            $ref: '#/definitions/responses.BadRequest'
            type: object
      summary: Register a new user
  /user/{userId}:
    get:
      consumes:
      - application/json
      description: gets user by id
      operationId: get-user
      parameters:
      - description: The id to get the user
        in: path
        name: userId
        required: true
        type: string
      - description: The BEARER token
        in: header
        name: Authorization
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: The user
          schema:
            $ref: '#/definitions/user.User'
            type: object
        "400":
          description: The error object will explain why the request failed.
          schema:
            $ref: '#/definitions/responses.BadRequest'
            type: object
        "404":
          description: The error object will explain why the entity was not found.
          schema:
            $ref: '#/definitions/responses.NotFound'
            type: object
      security:
      - ApiKeyAuth: []
      summary: gets user by id
  /user/login:
    post:
      consumes:
      - application/json
      description: on success, you will get a JWT token to put in the auth header
      operationId: user-login
      parameters:
      - description: The expected request body.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/user.userRequest'
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: The user
          schema:
            $ref: '#/definitions/user.jwtToken'
            type: object
        "400":
          description: The error object will explain why the request failed.
          schema:
            $ref: '#/definitions/responses.BadRequest'
            type: object
      summary: logs a user in
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
